doctype html
html
  head
    title= title
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/' + stylesheet
      type='text/css'
    )

  block top-links

  body(
    class= body_class
    )
    .body-contents
      block header
        header
          include tisko-header/main
      block contents
      block footer
  block scripts

  script(
    src='/assets/' + javascript
  )

  block bottom-links
