form(
  method='post'
  action= refUrl
  )
  fieldset
    .email-input.field
      label(
        for='userid'
        ) Email Id
      input#userid-value(
        name='email'
        placeholder='youremail@gmail.com'
        required
        type='email'
        autofocus
        )
    .button
      input(
        type='submit'
        value='Send Email'
        )
